# Byte-code caches
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/
testenv/

# Pytest cache
.pytest_cache/

# Editor files (optional)
.vscode/
*.swp

# Experiment files
example.py
example.ipynb

*.pyo
*.egg-info/
dist/
build/
.env/
.ipynb_checkpoints/



# Python cache files
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Virtual environments
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/
