# Byte-code caches
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/
testenv/
.newvenv/

# Pytest cache
.pytest_cache/

# Editor files (optional)
.vscode/
*.swp

# Experiment files
example.py
example.ipynb

*.pyo
*.egg-info/
dist/
build/
.env/
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

graffiti3_demo.py
simple_polytopes_p_vectors2.csv
old_experiments/
