accessible-pygments==0.0.5
alabaster==1.0.0
appnope==0.1.4
asttokens==3.0.0
babel==2.17.0
beautifulsoup4==4.13.4
black==25.1.0
build==1.2.2.post1
certifi==2025.6.15
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
comm==0.2.2
debugpy==1.8.14
decorator==5.2.1
distlib==0.3.9
docutils==0.21.2
executing==2.2.0
filelock==3.18.0
flake8==7.3.0
furo==2024.8.6
id==1.5.0
identify==2.6.12
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.8.1
keyring==25.6.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.7.0
mypy_extensions==1.1.0
myst-parser==4.0.1
nest-asyncio==1.6.0
nh3==0.2.21
nodeenv==1.9.1
numpy==2.3.1
packaging==25.0
pandas==2.3.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
PuLP==3.2.1
pure_eval==0.2.3
pycodestyle==2.14.0
pydata-sphinx-theme==0.15.4
pyflakes==3.4.0
Pygments==2.19.2
pyproject_hooks==1.2.0
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.0
readme_renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
roman-numerals-py==3.1.0
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
sphinx-basic-ng==1.0.0b2
sphinx-book-theme==1.1.4
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
tornado==6.5.1
traitlets==5.14.3
tw==3.16.0
twine==6.1.0
-e git+https://github.com/RandyRDavila/TxGraffiti2.git@a58d77127525c3dc6ad8acf2efed59d5c7653667#egg=txgraffiti
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
wcwidth==0.2.13
